:root {
    --color-iris: #4d5ae5;
    --color-btn-active: #404bbf;
    --color-dark: #2e2f42;
    --color-success: #31d0aa;
    --color-text: #434455; 
    --color-subtle-text: #8e8f99;
    --color-accent: #e7e9fc;
    --color-light: #f4f4fd;
    --color-white : #fff;

    --fs-logo: 18px;
    --fs-nav: 16px;
    --fs-contact: 16px;
    --fs-btn: 16px;
    --fs-text: 16px;
    --fs-title-main: 56px;  /* h1 */
    --fs-title-block: 36px; /* h2 */
    --fs-title-item: 20px;  /* h3 */
}

/*  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* =========== Main =========== */
.body { 
    color: var(--color-text); 
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

link {
    display: inline-block;
    text-decoration: none;
    outline: none;
}

/* Clear List */
ul,
ol,
.list { 
    list-style: none;
    padding-left: 0;
    margin: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p { margin: 0; }

/* =========== Header =========== */
.header {
    padding-top: 24px;
    padding-bottom: 24px;

    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
}

/* =========== Logo =========== */
.logo { 
    display: inline-flex;
    flex-wrap: nowrap;
    min-width: 115px;
    margin-right: 100%;
 }

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-size: var(--fs-logo); /* 18px; */
    font-weight: 800;
    line-height: 1.3; /* 24 / 18 = 1.3 */
    letter-spacing: 0.03em;
}

.logo-dark { 
    color: var(--color-dark); 
    text-decoration: inherit; 
}

.logo-light {
    text-decoration: inherit; 
    color: var(--color-white); 
    margin-bottom: 16px;
}

.logo-web { 
    color: var(--color-iris);
    display: inline-block;
 }

/* =========== Nav, menu & Contacts =========== */
.menu { 
    display: none;
    margin-left: 77px; 
}

.menu-item,
.contact-item {
    display: inline-block; 
    margin-right: 40px;
}

.menu-item:last-child,
.contact-item:last-child { margin-right: 0; }

.menu-item-link,
.contact-item-link {
    color: var(--color-dark); 
    text-decoration: none;  
    outline: none;  
}

/* .menu-mobile {
    display: block;
} */


/* menu for mobile */
/* button open/close .mobile-menu */
.btn-menu-toggle {
    height: 22px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 24px;
    right: 24px;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;

    outline: none;
    outline: 1px solid red;
    fill: var(--color-dark);
}

.menu-mobile-icon {
    fill:#2e2f42;
}

@media (min-width: 768px) {
    .menu-mobile {
        display: none;
    }
}

.btn-menu-toggle:hover,
.btn-menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .btn-menu-toggle {
    position: absolute;
    top: 40px;
    right: 40px;
    
    color: #fff;
    border-radius: 50%;
    
    height: 24px;
    width: 24px;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

/*  */

.current {
    position: relative;
    color: var(--color-iris);
}
 .current::after {
    content: "";
    
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--color-btn-active);
    border-radius: 2px;
    
    margin-bottom: -24px;
 }

.contact-item-link[href*="tel:"]{ text-transform: uppercase; }
.menu-item-link {
    font-size: var(--fs-nav); /* 16 */
    font-weight: 600;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item-link:hover { 
    color: var(--color-text); 
}
.menu-item-link:active,
.menu-item-link:focus { 
    color: var(--color-iris); 
}

.contact-item-link { font-size: var(--fs-contact); }
.contact-item-link:active { color: var(--color-iris); }
.contact-item-link:focus { color: var(--color-iris); }


/* =========== Title (h1, h2, h3) =========== */
.title { 
    font-weight: 600; 
    margin: 0;
}
.title-main {
    font-size: var(--fs-title-main);
    line-height: 1.07; /* 60 / 56 = 1.07 */
    margin-bottom: 48px;
}
.title-block {
    font-size: var(--fs-title-block);
    line-height: 1.1; /* 40 / 36 = 1.1 */
    margin-bottom: 72px;
}
.title-item {
    font-size: var(--fs-title-item);
    line-height: 1.2;  /* 24 / 20 = 1.2 */
    margin-bottom: 8px;
}
.title-modal {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;       /* 24 / 16 = 1.5 */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

/* Text & Text-Align */
.text {
    margin: 0;
    font-size: var(--fs-text); /* 16px; */
    line-height: 1.5; /* 24 / 16 = 1.5 */    
    
}
.sm-text {
    font-size: 12px; /* 12px; */
    line-height: 1.33; /* 16 / 12 = 1.33 */    
    letter-spacing: 0.04em;
}

.center { text-align: center; }

/* =========== Colors =========== */
.dark { color: var(--color-dark); }
.white { color: var(--color-white); }
.iris { color: var(--irus); }
.bg-iris { color: var(--color-iris); }
.bg-light { background-color: var(--color-light); }
.bg-dark { background-color: var(--color-dark); }

/* =========== Buttons =========== */
.btn {
    background-color: var(--color-iris);
    border: none;
    border-radius: 4px;

    font-family: inherit;
    font-size: var(--fs-btn);
    font-weight: 500;
    line-height: 1.5; /* 24 / 16 = 1.5 */
    letter-spacing: 0.04em;

    min-width: 20px;
    padding: 16px 32px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:active,
.btn:focus,
.btn:hover {
    background-color: var(--color-btn-active);
    color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* .btn:hover {
    background-color: var(--color-iris);
} */

.btn-main { line-height: 1.2; } /* 19 /16 = 1.2 */

/* Sections */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.presentation {
    padding-top: 192px;
    padding-bottom: 192px;
}

/* Background image in Presentation */
.bg-image {
    max-width: 1600px;
    min-height: 603px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid black; */
    background-color: var(--color-dark);
    background-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
        url("../images/people-office.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.btn-icon {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: var(--color-accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.btn-modal-icon {
    width: 8px;
    height: 8px;
}
.btn-modal:focus,
.btn-modal:active,
.btn-modal:hover {
    fill: var(--color-white);
    background-color:var(--color-iris);
}

.features { padding-bottom: 0; }

/* =========== Sections Features, Products, Team =========== */
.feature-list,
.product-list,
.team-list,
.filters { display: flex; }

.feature-item,
.product-item,
.team-item,
.filter-item { margin-right: 24px; }

.feature-item:last-child,
.product-item:last-child,
.team-item:last-child,
.filter-item:last-child { margin-right: 0; }


.feature-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--color-light);
    border-radius: 4px;
    margin-bottom: 8px;
}
.feature-card-icon {
    width: 64px;
    height: 64px;
}

/* Products */
.product-card {
    position: relative;
}
.product-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 16px;

    background-color: var(--color-subtle-text);
    color: var(--color-text);
    opacity: 0.7;
}


/* =========== Team-card =========== */
.team-card {
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-title-block { padding: 32px 0; }

/* Team Social net */
.team-social-list {
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 4px;
}
.team-social-item:not(:last-child) {
    margin-right: 24px;
}

.btn-team-social { 
    background-color: var(--color-iris);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.btn-team-social-icon {
    width: 16px;
    height: 16px;
    fill: var(--color-white);
}

.btn-team-social:focus,
.btn-team-social:active,
.btn-team-social:hover {
    background-color: var(--color-btn-active);
}


/* =========== Filter buttons =========== */
.filters {
    align-items: center;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 72px;
}

.btn-filter { 
    padding: 12px 24px; 
    color: var(--color-iris);
    background-color: var(--color-light);
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.btn-filter:active,
.btn-filter:focus,
.btn-filter:hover {
    color: var(--color-white);
    background-color: var(--color-iris);
}

/* =========== Gallery =========== */
.gallery { padding-top: 0; }

.gallery-list { 
    display: flex; 
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -48px;
}

.gallery-item {
    flex-basis: calc((100% / 3) - 24px);
    /* flex-basis: calc((100% - 24px * 2) / 3); */

    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 48px;

    border: 0.5px solid #F4F4FD;
}

.gallery-item:nth-child(3n){
    margin-right: 0;
}
/* .gallery-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
} */

.gallery-card {
    position: relative;
    overflow: hidden;
}

.gallery-item-overlay {
    display: inline-block;
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    padding: 40px 32px;
    
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover .gallery-item-overlay { 
    opacity: 1;
    transform: translateY(0);
}

.gallery-link {
    text-decoration: none;
    display: inline-block;
    outline: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:focus,
.gallery-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
} 

.gallery-image {
    width: 360px;
    height: 300px;
    max-width: 100%;
    display: block;
    background-color: var(--color-iris);
}

.gallery-title-block { 
    color: var(--color-text);
    padding: 32px 16px; 
}
.gallery-item-text { color: var(--color-white); }


/*================ Customers ===================*/
.customers-list { display: flex;}
.customer-item:not(:last-child) {
    display: flex;
    margin-right: 24px;
}

.customer-card {
    display: flex;
}

.customer-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
}
.customer-icon {
    width: 168px;
    height: 88px;
    fill: var(--color-subtle-text);
    padding: 16px 32px;
        
    border-radius: 4px;
    outline: 1px solid var(--color-subtle-text);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:focus .customer-icon,
.customer-link:active .customer-icon,
.customer-link:hover .customer-icon {
    fill: var(--color-iris);
    outline: 1px solid var(--color-iris);
}

/* =========== BackDrop & Modal =========== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    z-index: 100;
    transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 408px;
    min-height: 604px;
    padding: 72px 24px 24px 24px;

    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);

    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
    position: relative;
    margin-bottom: 8px;
}  

.modal-input {
    position: relative;
    margin-top: 4px;
}

.text-field {
    display: block;

    width: 100%;
    height: 40px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    background-color: transparent;
    border-radius: 4px;
    border: none;

    padding: 8px 16px 8px 38px;
}

.icon-text-modal {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 16px;

    transform: translateY(25%);
}
.icon-modal {
    width: 22px;
    height: 24px;
    color: currentColor;
}

.name-field {
    display: block;
    /* margin-bottom: 4px; */
    color: var(--color-subtle-text);
}

.modal-input:hover > .icon-text-modal, 
.modal-input:focus-within > .icon-text-modal {
    fill: var(--color-iris);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover > .text-field, 
.modal-input:focus-within > .text-field {
    outline: 1px solid var(--color-iris);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    height: 120px;
    padding-left: 16px;
    resize: none;
}

/* user checkbox */
.text-checkbox {
    display: inline-block;
    padding-left: 18px;
    align-content: center;
}
.checkbox {
    appearance: none;
}

.checkbox-icon { 
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
        
    width: 16px;
    height: 16px;

    transform: translateY(20%);

    border: 2px solid black;
    border-radius: 4px;

    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
    border-color: var(--color-iris);
    background-color: var(--color-iris);
    background-image: url("../images/svg/click-on.svg");
    background-size: contain;
    background-origin: border-box;
}

.policy-text {
    display: inline;
    color: var(--color-iris);
}

.check-block {
    margin-top: 16px;
    margin-bottom: 24px;
}

.btn-send-modal {
    display: block;
    margin: 0 auto;
}
.btn-send-modal:hover,
.btn-send-modal:focus {
    background-color: var(--color-btn-active);
}

/* =============== Footer =============== */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-card { 
    width: 264px; 
    margin-right: 40px;
}

.footer-list { 
    display: flex;
    gap: 80px; 
}
.footer-social-list { 
    display: flex; 
    gap: 16px;
}

.title-footer { 
    margin-top: 0; 
    margin-bottom: 16px;
}

.footer-subscribe {
    position: relative;
    width: 453px;
    display: flex;
    gap: 24px;
}

.footer-field {
    border: 1px solid var(--color-subtle-text);
    padding-left: 16px;

}
.footer-name-field {
    position: absolute;
    left: 16px;
    top: 0;
    transform: translateY(80%);
    color: var(--color-subtle-text);
    background-color: var(--color-dark);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer-field:focus + .footer-name-field,
.footer-field:not(:placeholder-shown) + .footer-name-field {
    transform: translateY(-70%);
    
}
.footer-field:hover,
.footer-field:focus {
    border: 1px solid var(--color-iris);
}

.btn-subscribe {
    display: inline-flex;
    min-width: 165px;
    padding: 8px 24px;
    align-items: center;
}

.icon-subscribe {
    display: inline-block;
    margin-left: 16px;
    width: 24px;
    height: 24px;
    fill: white;
}

.link-footer-social {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.link-footer-social-icon { 
    width: 24px;
    height: 24px;
    fill: var(--color-white);
}

.link-footer-social:active,
.link-footer-social:focus,
.link-footer-social:hover {
    background-color: var(--color-success);
}


/* «C4» Вёрстка выполнена относительно трёх точек перелома: 480px, 768px и 1200px. */

/* Phone */
@media screen and (max-width: 480px) {
    .container { width: 458px; } /* 15+428+15 */
    .menu { display: none; }
    .menu-phone { display: block; }
    .contacts { display: none; }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 900px) {
    .container { width: 798px; } /* 15+768+15 */
    .menu { display: block; }
    .menu-phone { display: none; }
    .contacts { display: none; }
}

/* Desktop */
@media screen and (min-width: 901px)  {
    .container { width: 1158px; } /* 15+1128+15 */
    .menu { display: block; }
    .menu-phone { display: none; }
    .contacts { display: block; }
}

