:root {
    --color-iris: #4d5ae5;
    --color-btn-active: #404bbf;
    --color-dark: #2e2f42;
    --color-success: #31d0aa;
    --color-text: #434455;
    --color-subtle-text: #8e8f99;
    --color-accent: #e7e9fc;
    --color-light: #f4f4fd;
    --color-white: #fff;

    --fs-logo: 18px;
    --fs-nav: 16px;
    --fs-contact: 16px;
    --fs-btn: 16px;
    --fs-text: 16px;
    --fs-title-main: 56px;      /* h1 */
    --fs-title-block: 36px;     /* h2 */
    --fs-title-item: 20px;      /* h3 */
}

/* Hidden html teg/block */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ========= Site ========= */
.body {
    color: var(--color-text);
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

/* «C4» Вёрстка выполнена относительно трёх точек 
перелома: 480px, 768px и 1200px. */
.container {
    width: 100%; /* 15 + 450 + 15 = 480 /// 458px 15 + 428 + 15 */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.link {
    display: inline-block;
    text-decoration: none;
    outline: none;
}

/* Clear List */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}


/* =========== Text & Title (h1, h2, h3) =========== */
.title {
    font-weight: 600;
    margin: 0;
}

/* h1 */
.title-main {
    font-size: var(--fs-title-main);
    line-height: 1.07;  /* 60 / 56 = 1.07 */
    margin-bottom: 48px;
}

/* h2 */
.title-block {
    font-size: var(--fs-title-block);
    line-height: 1.1;   /* 40 / 36 = 1.1 */
    margin-bottom: 72px;
}

/* h3 */
.title-item {
    font-size: var(--fs-title-item);
    line-height: 1.2;  /* 24 / 20 = 1.2 */
    margin-bottom: 8px;
}

.title-modal {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;  /* 24 / 16 = 1.5 */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

/* === Text & Text-Align === */
.text {
    margin: 0;
    font-size: var(--fs-text);   /* 16px; */
    line-height: 1.5;  /* 24 / 16 = 1.5 */
}

/* ==== Text for modal-form ==== */
.sm-text {
    font-size: 12px;
    line-height: 1.33; /* 16 / 12 = 1.33 */
    letter-spacing: 0.04em;
}

.text-field {
    display: block;

    width: 100%;
    height: 40px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    background-color: transparent;
    border-radius: 4px;
    border: none;

    padding: 8px 16px 8px 38px;
}

.center { text-align: center; }

/* ==== make Current page ==== */
.current {
    position: relative;
    color: var(--color-iris);
}
.current::after {
    content: "";
    
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--color-btn-active);
    border-radius: 2px;
    
    margin-bottom: -24px;
}


/* =========== Colors =========== */
.dark { color: var(--color-dark); }
.white { color: var(--color-white); }
.iris { color: var(--irus); }
.bg-iris { color: var(--color-iris); }
.bg-light { background-color: var(--color-light); }
.bg-dark { background-color: var(--color-dark); }


/* =========== Logo =========== */
.logo {
    display: inline-flex;
    flex-wrap: nowrap;
    min-width: 115px;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-size: var(--fs-logo);   /* 18px; */
    font-weight: 800;
    line-height: 1.17;            /* 21-24 / 18 = 1.1666 / 1.3 */
    letter-spacing: 0.03em;
}

.logo-dark {
    color: var(--color-dark);
    text-decoration: inherit;
}

.logo-light {
    text-decoration: inherit;
    color: var(--color-white);
    margin-bottom: 16px;
}

.logo-web {
    color: var(--color-iris);
    display: inline-block;
}

/* =========== Buttons =========== */
.btn {
    background-color: var(--color-iris);
    border: none;
    border-radius: 4px;

    font-family: inherit;
    font-size: var(--fs-btn);
    font-weight: 500;
    line-height: 1.5;   /* 24 / 16 = 1.5 */
    letter-spacing: 0.04em;

    min-width: 20px;
    padding: 16px 32px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:active,
.btn:focus,
.btn:hover {
    background-color: var(--color-btn-active);
    color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* ====== Main ===== */
.header {
    padding-top: 24px;
    padding-bottom: 24px;

    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
}


/* ===== Menu  ===== */
.menu { display: none; }
.menu-mobile { display: block; }
.menu-container { display: block; }
.contacts { display: none; }


.menu-mobile {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-mobile-icon-open {
    /* width: 32px;
    height: 22px; */
    fill: #2e2f42;
}

.btn-menu-toggle {
    background-color: transparent;
    padding: 0;
}

.btn-menu-toggle:hover,
.btn-menu-toggle:focus {
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: var(--color-btn-active);
}


/* === Modal Mobile menu === */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: var(--color-white);
    z-index: 999;
    outline: 1px solid red;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .btn-menu-toggle {
    position: absolute;
    top: 40px;
    right: 40px;

    color: #fff;
    border-radius: 50%;
    border: 1px solid var(--color-dark);

    height: 24px;
    width: 24px;
}

.menu-mobile-icon-close {
    width: 8px;
    height: 8px;
    fill: #2e2f42;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.menu-item-link {
    font-size: var(--fs-nav); /* 16 */
    font-weight: 600;
    color: var(--color-dark);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link.current {
    color: var(--color-iris);
}

.menu-item-link:active,
.menu-item-link:focus,
.menu-item-link:hover { 
    color: var(--color-iris); 
}


/* ==== Mobile Contacts ==== */
.contact-item-link {
    font-size: var(--fs-contact);
}

.mobile-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile-contact-phone .contact-item-link {
    font-weight: 600;
    /* font-size: 36px; */
    font-size: 7.5vw;
    /* font-size: calc(36px - (36 - 28) * ((100vw - 350px) / (480-350))); */
    white-space: nowrap;
    /* font-size: calc(2em + 4vw); */
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--color-dark);
}

.mobile-contact-email .contact-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}

.contact-item-link:active,
.contact-item-link:focus,
.contact-item-link:hover { color: var(--color-iris); }


.mobile-social-list {
    display: flex;
    justify-content: space-between;
}

.link-mobile-social {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);

    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.link-mobile-social-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-light);
}

.link-mobile-social:active,
.link-mobile-social:focus,
.link-mobile-social:hover {
    background-color: var(--color-btn-active);
}




/* «C4» Вёрстка выполнена относительно 
трёх точек перелома: 480px, 768px и 1200px. */
/* Mobile 480px */
@media screen and (min-width: 480px) {
    
}

/* Mobile 480px */
@media screen and (min-width: 768px) {
    
}

/* Mobile 480px */
@media screen and (min-width: 1200px) {
    
}